//

.package-list {
    margin: 0 auto;
    max-width: 100%;

    .package-list--body {
        background-color: #fff;
        box-shadow: 0 0 6px 0 #ccc;
        border-radius: 6px;

        &_filter {
            padding: 24px;

            h5 {
                color: #384551;
                font-size: 1.175rem;
                margin-bottom: 1.725rem;
            }

            > div {
                align-items: center;
                display: flex;
                gap: 32px;
                width: 100%;
            }

            select {
                border: solid 1px #22303e;
                border-radius: 6px;
                flex: 1 1 50%;
                font-size: 1rem;
                outline: none;
                padding: 0.543rem 2.625rem 0.543rem 0.9375rem;
            }
        }

        &_action {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 24px;

            input {
                border: solid 1px #22303e;
                border-radius: 0.375rem;
                font-size: 1rem;
                padding: 0.543rem 0.9375rem;
                outline: none;
                width: 256px;
            }

            button {
                border: solid 1px #5a5cd4;
                background-color: #696cff;
                border-radius: 0.375rem;
                color: #fff;
                font-size: 1rem;
                padding: 0.543rem 0.9375rem;

                transition: 0.175s ease-in-out;

                &:hover {
                    transform: translateY(-3px);
                    background-color: #474aff;
                }
            }
        }
        .list-table {
            display: flex;
            flex-wrap: nowrap;
            text-wrap: nowrap;
            width: 100%;

            > div {
                margin: 0 auto;
                overflow-x: scroll;
                width: 98%;
            }

            table {
                border-collapse: collapse;
                border-color: inherit;
                border-style: solid;
                border-width: 0;

                thead {
                    tr {
                        text-align: left;
                        th {
                            padding: 12px 20px;
                        }
                    }
                }

                tbody {
                    tr {
                        text-align: left;

                        td {
                            padding: 12px 20px;

                            .statuses {
                                padding: 5px 10px;
                                font-size: 0.925rem;
                                font-weight: bold;
                            }
                        }
                        .product,
                        .price,
                        .total-order,
                        .date,
                        .action {
                            > div {
                                align-items: center;
                                display: flex;
                                gap: 4.5px;

                                img {
                                    height: 38px;
                                    object-fit: cover;
                                    width: 38px;
                                }

                                button {
                                    border: none;
                                    background-color: transparent;

                                    font-size: 1.35rem;
                                }
                            }
                        }

                        .action {
                            > div {
                                gap: 10px;
                            }
                        }

                        .total-order {
                            svg {
                                font-size: 19px;
                            }
                        }

                        .active-product {
                            span {
                                background-color: #dcfce7;
                                color: #166534;
                            }
                        }

                        .inactive-product {
                            span {
                                background-color: #f1f5f9;
                                color: #475569;
                            }
                        }

                        .pending-product {
                            span {
                                background-color: #fef9c3;
                                color: #854d0e;
                            }
                        }
                    }
                }
            }
        }
    }
}
