.packages {
    background-color: #f5f5f9;
    min-height: 100vh;
    padding-inline-start: 19.25rem;
    padding-top: 24px;
    padding-right: 26px;
    padding-bottom: 24px;

    section {
        height: 100%;
        width: 100%;
    }
}
