.company-description {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family:
        "Poppins",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    gap: 20px;
    justify-content: center;
    max-width: 1246px;
    margin: 0 auto 60px auto;
    user-select: none;

    h3 {
        font-size: 1.6rem;
        font-weight: 100;
        margin: 0 auto 1.8rem auto;
        max-width: 90%;
        text-align: center;
        text-transform: capitalize;
    }

    .services__type-list {
        display: flex;
        gap: 20px;

        > div {
            box-shadow: 0px 0px 12px 0px #0000001a;
            border-radius: 12px;
            padding: 16px;
            width: 33.33%;

            .image {
                margin: 0 auto;
                width: max-content;
            }

            .description-title {
                color: #000000c7;
                font-weight: 700;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 1px;
                margin: 1rem 0rem;
                text-align: center;
                text-transform: uppercase;
            }

            .description {
                p {
                    color: #555555;
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }
}
