.services {
    max-width: 1246px;
    margin: 0 auto;
    padding: 60px 0px;

    .services-card--navigation {
        align-items: center;
        display: flex;
        gap: 16px;
        margin-top: 22px;

        button {
            border-radius: 0px;
            font-size: 1.2rem;
            padding: 15px 20px;
        }
    }

    .services-wrapper {
        align-items: flex-start;
        display: flex;
        gap: 18px;
        margin-top: 22px;

        &--body {
            h3 {
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 1rem;
            }

            ul {
                align-items: flex-start;
                gap: 10px;
                display: flex;
                flex-direction: column;

                li {
                    list-style-type: disc;
                }
            }
        }

        img {
            width: 50%;
        }
    }
}
