.title {
    user-select: none;

    h2 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: color-mix(in srgb, var(#444444), transparent 50%);
        position: relative;

        &::after {
            content: "";
            width: 120px;
            height: 1px;
            display: inline-block;
            background: #1a56db;
            margin: 4px 10px;
        }
    }

    p {
        color: #2a2c39;
        margin: 0;
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
