@use "./assets/font/font";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

body {
    font-family: "Raleway";
}

hr {
    margin: 0.5rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid #85858a;
    opacity: 0.25;
    width: 100%;
}
